# This will automatically install the Sumo Logic collector on AWS Elastic
# Beanstalk instances. Add this to the .ebextensions folder in your app root
# To add or remove tracked files, simply add or remove source hashes to the
# sources array.
packages:
  rpm:
    SumoCollector: https://collectors.sumologic.com/rest/download/rpm/64

files:
  "/home/ec2-user/setup-sumo.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
            #!/bin/bash
            cat >/opt/SumoCollector/config/user.properties <<EOL
            accessid=$SUMOLOGIC_ACCESS_ID
            accesskey=$SUMOLOGIC_ACCESS_KEY
            category=$SUMOLOGIC_SOURCE_CATEGORY
            rpmAutoStart=false
            syncSources=/etc/sumo-sources.json
            ephemeral=true
            EOL

  "/etc/sumo-sources.json":
    mode: "000755"
    owner: root
    group: root
    content: |
              {
                "api.version":"v1",
              "sources":[{
                  "name":"Your-EBS-Env",
                  "category":"/whatever/youwant",
                  "automaticDateParsing":true,
                  "multilineProcessingEnabled":true,
                  "useAutolineMatching":true,
                  "forceTimeZone":false,
                  "timeZone":"Etc/UTC",
                  "filters":[],
                  "cutoffTimestamp":1491202800000,
                  "encoding":"UTF-8",
                  "pathExpression":"/var/log/eb-docker/containers/eb-current-app/*.log",
                  "blacklist":[],
                  "sourceType":"LocalFile"
               }]
              }


  "/opt/elasticbeanstalk/tasks/taillogs.d/sumo-logic.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
          /opt/SumoCollector/logs/*

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/sumo-logic.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
          /opt/SumoCollector/logs/*

  "/opt/elasticbeanstalk/tasks/publishlogs.d/sumo-logic.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
          /opt/SumoCollector/logs/*

container_commands:
  setup_sumo:
    command: /home/ec2-user/setup-sumo.sh
  start_sumo:
    command: sudo /sbin/service collector start
    ignoreErrors: true
